<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>ListGlasses</title>
</head>
<body>
<h3>Glasses</h3>
<p>
    <a th:href="@{/glasses/create}">
        Add new glass
    </a>
</p>

<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>

<table id = "glasses">
    <thead>
    <tr>
<!--        (id, code, price, color, description, img)-->
        <th>Code</th>
        <th>Price</th>
        <th>Color</th>
        <th>Description</th>
        <th>IMG</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${glasses}">
        <td th:text="${row.getCode()}"></td>
        <td th:text="${row.getPrice()}"></td>
        <td th:text="${row.getColor()}"></td>
        <td th:text="${row.getDescription()}"></td>
        <td th:text="${row.getImg()}"></td>
        <td><a th:href="@{/glasses/{id}/edit(id=${row.getId()})}">edit</a></td>
        <td><a th:href="@{/glasses/{id}/delete(id=${row.getId()})}">delete</a></td>
        <td><a th:href="@{/glasses/{id}/view(id=${row.getId()})}">view</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>