<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>UpdateCustomer</title>
</head>
<body>
<div class="container py-4">
    <h3>Edit Glasses</h3>
    <p>
        <a class="btn btn-secondary" th:href="@{/glasses}">
            Back to glasses list
        </a>
    </p>
    <div class="card" id="form">
        <div class="card-body">
            <form action="#" th:action="@{/glasses/update}" th:object="${glasses}" method="POST" novalidate="novalidate">
                <input type="hidden" th:field="*{id}"/>
                <div class="mb-3">
                    <label for="code" class="form-label">Code</label>
                    <input type="text" class="form-control" id="code" th:field="*{code}"/>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="text" class="form-control" id="price" th:field="*{price}"/>
                </div>
                <div class="mb-3">
                    <label for="color" class="form-label">Color</label>
                    <input type="text" class="form-control" id="color" th:field="*{color}"/>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" id="description" th:field="*{description}"/>
                </div>
                <div class="mb-3">
                    <label for="img" class="form-label">IMG</label>
                    <input type="text" class="form-control" id="img" th:field="*{img}"/>
                </div>
                <button type="submit" class="btn btn-primary">Edit</button>
            </form>
        </div>
    </div>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>
