<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <html xmlns:th="http://www.thymeleaf.org" lang="en">
        <head th:replace="/layout :: head">
        <title>DetailCustomer</title>
</head>
<body>
<h3>View Glasses</h3>
<p>
    <a th:href="@{/glasses}">
        Back to glasses list
    </a>
</p>
<div id="detail">
    <div class="glasses-detail">
        <label>Name:</label>
        <label th:text="${glasses.name}"></label>
    </div>
    <div class="glasses-detail">
        <label>Email:</label>
        <label th:text="${glasses.email}"></label>
    </div>
    <div class="glasses-detail">
        <label>Address:</label>
        <label th:text="${glasses.address}"></label>
    </div>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html></title>
</head>
<body>

</body>
</html>